Package: com.ginsu.gscore
Name: GSCore
Architecture: iphoneos-arm
Description: Environment and communication between my tweaks
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: firmware (>= 14.0)
Version: 1.0.0
